.splash-container {
    align-items: center;
    color: white;
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: space-evenly;
}

.splash-section {
    background-color: rgba(0,0,0, 0.6);
    border-radius: 12px;
    padding: 2%;
    width: 60%;
}

.splash-title {
    font-weight: 700;
    font-size: 1rem;
    margin: 0 0 2.5% 0;
    width: max-content;
}

.splash-title:after {
    display: block;
    content: "";
    height: 1px;
    background-color: #CDB470;
    transition: all 0.15s ease-in-out 0s;
}

@media only screen and (min-width: 961px) {
    .splash-title {
        font-size: 2rem;
    }
}