/* Hide normal navbar div */
.navbar {
    display: none;
}

/* Grid Stuff */
.mobile-nav-container, .navbar-container {
    height: 100%;
    grid-row: 1 / 2;
}
#body-container {
    height: 100%;
    margin-top: 10vh;
}

/* Bar at top of page */
.mobile-nav-bar {
    height: 10%;
    width: 100%;
    background-color: #111111;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 1fr;
    position: fixed;
    z-index: 1;
}

/* Mobile home button */
.mobile-button-home {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    font-family: 'optimusprincepsregular';
    font-weight:normal;
    font-style:normal;
    font-size: 7vmin;
    color: white;
    margin: 0;
    text-decoration: none;
}

.mobile-button-home:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #CDB470;
}

/* Open nav panel button */
.mobile-button-nav {
    grid-column: 3 / 4;
    background-color: #111111;
    border: none;
    color: white;
    text-rendering: optimizeLegibility;
}

.mobile-button-nav:hover, .mobile-button-nav-active {
    color: #CDB470;
}
.mobile-button-nav:active, .mobile-button-nav:focus {
    outline: 0;
    border: none;
    --moz-outline-style: none;
}

/* Mobile Nav Panel */
#mobile-nav{
    height: 100%;
    width: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    background-color: #111111;
    overflow-x: hidden;
    transition: 0.5s;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 1fr;
    will-change: width;
}

/* Mobile Nav Links */
.mobile-nav-right {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.mobile-nav-right a {
    font-family: 'optimusprincepsregular';
    font-weight:normal;
    font-style:normal;
    font-size: 5vmin;
    color: white;
    margin: 0;
    text-decoration: none;
    align-self: center;
    justify-self: center;
}

/* Kindred Logo */
.logo-mobile-kindred {
    height: 25vh;
    width: 25vh;
    top: 50px;
    align-self: start;
    justify-self: center;
}

.mobile-nav-bar {
    transition: all .5s;
    will-change: right;
}

.mobile-nav-right a:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #CDB470;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.15s ease-in-out 0s;
    will-change: visibility, transform;
}

a.nav-link-active:after {
    visibility: visible;
    transform: scaleX(1);
}

a.nav-link-home:hover:after,
a.nav-link-rotation:hover:after, 
a.nav-link-about:hover:after, 
a.nav-link-search:hover:after {
    visibility: visible;
    transform: scaleX(1);
}


/* Remove outlines on links and buttons */
a.nav-link-home:active, a.nav-link-home:focus, 
a.nav-link-rotation:active, a.nav-link-rotation:focus,
a.nav-link-about:active, a.nav-link-about:focus,
a.nav-link-search:active, a.nav-link-search:focus,
.mobile-button-home:active, .mobile-button-home:focus,
.mobile-button-nav:active, .mobile-button-nav:focus {
    outline: 0;
    border: none;
    --moz-outline-style: none;
    padding: 0;
}

button::-moz-focus-inner {
    border: 0;
}

/* Landscape Mobile */
@media only screen and (orientation: landscape) {
    .mobile-button-home {
        font-size: 5vmin;
    }
}

/* Larger Display */
@media only screen and (min-width: 961px) {
    #mobile-nav, .mobile-nav-bar {
        display: none;
    }
    .navbar-container {
        display: block;
    }
    .navbar, #body-container {
        margin-right: 0;
    }

    .logo-kindred {
        height: 100%;
    }

    #root {
        grid-template-rows: 8vh auto 3vh;
    }

    .navbar {
        display: flex;
        height: 10%;
        background-color: #111111;
        grid-template-columns: 2vw 4vw 2vw 10vw auto 8vw 8vw;
        grid-template-rows: 1fr;
        width: 100%;
        position: fixed;
        z-index: 5;
    }

    .nav-left, .nav-right {
        display: flex;
        width: 50%;
    }

    .nav-left {
        align-items: center;
        margin-left: 1.5%;
    }

    .nav-right {
        align-items: center;
        justify-content: flex-end;
        margin-right: 2.5%;
    }

    .nav-right a, .nav-left a {
        font-family: 'optimusprincepsregular';
        font-weight:normal;
        font-style:normal;
        font-size: 1.5vw;
        color: white;
        margin-left: 5%;
        text-decoration: none;
    }

    .nav-left * {
        margin-right: 2.5%;
    }

    .nav-left img {
        margin-right: 0;
    }

    .nav-left a {
        margin-left: 0;
    }

    /* Global Nav Changes */
    .nav-right a:after, .nav-left a:after {
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #CDB470;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.15s ease-in-out 0s;
        z-index: 100;
        will-change: visibility, transform;
    }
    
    a.nav-link-active:after {
        visibility: visible;
        transform: scaleX(1);
    }


    /* Home Button */
    a.nav-link-home {
        font-size: 1.75vw;
    }
    
    /* Seperator */
    .nav-link-seperator {
        content: "";
        width: 2px;
        height: 1.5vw;
        background-color: #525252;
        grid-column: 3 / 4;
        justify-self: center;
        align-self: center;
    }
    
    /* NavBar Buttons */
    #body-container {
        margin-top: 10vh;
    }
}