@-ms-viewport{
    width: device-width;
    height: device-height;
}

@font-face {
    font-family: 'optimusprincepsregular';
    src: url('./fonts/optimusprinceps.woff2') format('woff2'),
         url('./fonts/optimusprinceps.woff') format('woff');
}

@font-face {
    font-family: 'optimusprincepssemiboldRg';
    src: url('./fonts/optimusprincepssemibold.woff2') format('woff2'),
         url('./fonts/optimusprincepssemibold.woff') format('woff');
}

html, body, #app, #app, #body-container > div {
    height: 100%;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto 10vh;
}

.awesome-slider {
    position: fixed;
    top: 10%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.awesome-slider > div {
    position: relative;
    height: 100%;
    width: 100%;
}


.awssld__content > img {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/* Page Transitions */
.fade-enter {
    opacity: 0;
    transition: opacity 300ms ease-in;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    z-index: 3;
}
.fade-exit {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.fade-exit.fade-exit-active {
    opacity: 0;
}

.body-content {
    max-height: 82vh;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .5s;
    will-change: opacity, right;
}

/* Footer Container */
#footer-container {
    background-color: #111111;
    display: grid;
    grid-template: 1fr / 5vw 2fr auto 1fr 5vw;
    z-index: 5;
    position: fixed;
    height: 10vh;
    width: 100%;
    bottom: 0;
    grid-row: 3 / 4;
    transition: all .5s;
}

.footer-text {
    font-family: 'optimusprincepsregular';
    color: #B0AEAE;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 1vh;
    text-align: left;
}

.footer-seperator {
    content: "";
    width: 1px;
    height: 1.5vw;
    background-color: #525252;
    grid-column: 3 / 4;
    justify-self: center;
    align-self: center;
}

.footer-links {
    font-family: 'optimusprincepsregular';
    color: #B0AEAE;
    grid-column: 4 / 5;
    justify-self: center;
    align-self: center;
    font-size: 1.5vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer-links > a {
    align-self: center;
    justify-self: center;
    font-family: 'optimusprincepsregular';
    font-weight:normal;
    font-style:normal;
    color: white;
    margin: 0;
    text-decoration: none;
}

.footer-links > a:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #CDB470;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.15s ease-in-out 0s;
    will-change: visibility, transform;
}

.footer-links > a:hover:after {
    visibility: visible;
    transform: scaleX(1);
}

/* Landscape Mobile */
@media only screen and (orientation: landscape) {
    .footer-text {
        font-size: 0.8vw;
    }
}

/* Larger Display */
@media only screen and (min-width: 961px) {
    #footer {
        margin-right: 0;
    }

    /* Footer */
    #footer-container {
        height: 5vh;
    }

    .footer-text {
        font-family: 'optimusprincepsregular';
        color: #B0AEAE;
        grid-column: 2 / 3;
        justify-self: center;
        align-self: center;
        font-size: 0.65vw;
    }

    #root {
        grid-template-rows: 10vh auto 5vh;
    }

    .awesome-slider, .body-content {
        max-height: 85vh;
    }
}